<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project Template</title>
</head>
<body>
  <h2>Project Template</h2>
  <p>Features:</p>
  <ul>
    <li>Node.js and Express.js</li>
    <li>No database, no data - just string responses from the Express.js methods</li>
   </ul>
  <p>Open the README.md document for how-to info.</p><br>

  <h3>WEB Service (API) - demo</h3>
    <h4>MongooseDB (template)</h4>
    <ul>
        <li>R - Get all items <a href="/api/restaurants?page=1&perPage=8&borough=Brooklyn">/api/restaurants?page=1&perPage=8&borough="Brooklyn"</a></li>
        <li>R - Get one item <a href="/api/restaurants/5eb3d668b31de5d588f4292e">/api/restaurants/5eb3d668b31de5d588f4292e </a></li>
        <li>C - Create new item <a href="/api/restaurants">/api/restaurants</a></li>
        <li>U - Update existing item <a href="/api/restaurants/5eb3d668b31de5d588f4292e">/api/restaurants/5eb3d668b31de5d588f4292e</a></li> 
        <li>D - Delete item <a href="/api/restaurants/5eb3d668b31de5d588f4292e">/api/restaurants/5eb3d668b31de5d588f4292e</a></li>
    </ul>

    
</body>
</html>